#mainTable {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    width: 940px;
}

#mainTable th {
    background: #dcdcdc;
}

#mainTable th, #mainTable td {
    padding: 3px;
    border: 1px solid;
    cursor: default;
}

input[type="button"] {
    margin-top: 10px;
    margin-left: 2px;
    margin-right: 2px;
    padding: 3px;
}

#buttons {
    text-align: center;
}

#mainTable th:nth-child(1), #mainTable tr td:nth-child(1),
#mainTable th:nth-child(10), #mainTable tr td:nth-child(10) {
    display: none;
}

.selected {
    background-color: #add8ef;
}