#formMain {
    margin-top: 10px;
    margin-left: 10px;
}

#flightNumber {
    width: 16ch;
}

#startPoint, #destinationPoint {
    width: 30ch;
}

#plane {
    width: 20ch;
}

input[type="text"] {
    margin-left: 3px;
    margin-right: 2px;
    margin-bottom: 5px;
    padding: 3px;
}

input[type="date"], input[type="time"] {
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 1px;
}

input[type="button"] {
    margin-left: 3px;
    margin-right: 5px;
    margin-top: 10px;
    padding: 3px;
}

.message {
    color: #ff0000;
    font-style: oblique;
}

#formMain span {
    margin-left: 3px;
}