#tableFlights {
    width: 940px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

#tableFlights td,
#tableFlights th {
    padding: 3px;
    border: 1px solid;
}

#tableFlights th {
    background: #dcdcdc;
}