<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <filter>
        <filter-name>administratorFilter</filter-name>
        <filter-class>by.epam.training.external.controller.filter.AdministratorFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>administratorFilter</filter-name>
        <url-pattern>/administrator/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>dispatcherFilter</filter-name>
        <filter-class>by.epam.training.external.controller.filter.DispatcherFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>dispatcherFilter</filter-name>
        <url-pattern>/dispatcher/*</url-pattern>
    </filter-mapping>

    <!--Можно все описать в DispatcherServlet init-param, но можно так разделить на RootContext и ServletContext-->
    <context-param>
        <param-name>contextClass</param-name>
        <param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
    </context-param>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>by.epam.training.external.config.RootApplicationContextConfig</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>dispatcherServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextClass</param-name>
            <param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
        </init-param>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <!--Можно указать не класс с ServletConfig, а просто пакет для сканирования
            by.epam.training.external.config, если не разделять контексты-->
            <param-value>by.epam.training.external.config.WebServletContextConfig</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcherServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>5</session-timeout>
    </session-config>
</web-app>